html {
    max-width: 100%;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: clip; /* Prevents horizontal scroll without breaking position: sticky */
}

.card {
    background-color: transparent;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    color: white;
    text-align: center;
}

.card:hover {
  box-shadow: 0 0 25px rgb(255, 255, 255);
}

.card__title {
    padding: 24px;
}



.form-group {
    position: relative;
    margin-bottom: 20px;
    margin-right: 15px;
}

.form-group__label {
    text-align: left;
    color: black;
    display: block;
    font-size: large;
    margin-bottom: 5px;
  }

.form-group__btn {
    position: absolute;
    margin-top: 5%;
    right: 100%;
    transform: translate(100%);
}


.form-group__input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:larger;
    font-weight: 900;
}


.form__logo {
    position: relative;
    bottom: 10px;
    border-radius: 5px;
    width: 50%;
    z-index: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
  
}


th {
  background-color: #546e89;
  color: white;
  position: sticky;
  top: 48px; /* Stick below navbar */
  z-index: 40;
}

th, td {
  text-align: center;
  padding: 18px;
  border: 1px solid black;
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: white;
  /* background-color: #D6EEEE; */
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
}

input[type="file"] {
   /* display: none; hide default button */
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #546e89;  /* change this to any color */
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.custom-file-upload:hover {
    background-color: #809ab7;
}

.custom-file-upload:active {
    background-color: #9eb6d2;
}

