.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow-y: auto;
    max-height: 150px;
  }

  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    display: block;
    margin:0;
  }

  .dropdown-content p:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropdown-content p:active {
    background-color: #546e89;
    color: white;
}

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropdown__btn {
    background-color: white;
  }

  .dropdown-content__item {
    cursor: pointer;
  }