.footer {
  background-color: #2d3e50;
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 25px;
}

.footerLink {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 900;
  font-family: 'Arial', sans-serif;
  font-style: italic;
  float: right;
  transition: color 0.3s ease;
  padding: 2px;
}

.footerLink:hover {
  color: #539ff0;
}