.table-container {
    max-height: 500px;
    overflow-y: auto;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table__header {
    background-color: #546e89;
    color: white;
    position: sticky;
    top: 105px; /* Stick below navbar */
    z-index: 40;
  }
  
  .table__header, .table__data {
    text-align: center;
    padding: 18px;
    border: 1px solid black;
    padding: 10px;
    font-weight: 900;
    font-size: 1.2rem;
  }

  .table__row {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .table__row:hover, .table__row:nth-child(odd):hover {
    background-color: #e0e0e0;
  }

  .table__row:nth-child(odd) {
    background-color: white;
  }