.toolbar {
    float: right;
    padding: 8px;
    position: sticky;
    top: 48px;
    z-index: 50;
    width: 100%;
    background-color: #2d3e50;
    border: 2px solid #2d3e50;
}

.toolbar > .btn {
    float: right;
  }
  
  .toolbar__title {
    float: left;
    margin: 0;
    margin-left: 1%;
    padding: 0;
    color: white;
  }
  
  .toolbar > button {
      margin-left: 16px;
  }
  